:root {
  --md-source: #fbc900;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #140d00;
  --md-ref-palette-primary5: #171000;
  --md-ref-palette-primary6: #1a1200;
  --md-ref-palette-primary10: #241a00;
  --md-ref-palette-primary12: #291e00;
  --md-ref-palette-primary17: #352800;
  --md-ref-palette-primary20: #3d2f00;
  --md-ref-palette-primary22: #423300;
  --md-ref-palette-primary24: #473700;
  --md-ref-palette-primary25: #4a3900;
  --md-ref-palette-primary30: #574400;
  --md-ref-palette-primary35: #655000;
  --md-ref-palette-primary40: #745b00;
  --md-ref-palette-primary50: #917300;
  --md-ref-palette-primary60: #b08c00;
  --md-ref-palette-primary70: #d0a600;
  --md-ref-palette-primary80: #f1c100;
  --md-ref-palette-primary87: #ffd65a;
  --md-ref-palette-primary90: #ffe08a;
  --md-ref-palette-primary92: #ffe6a6;
  --md-ref-palette-primary94: #ffecc0;
  --md-ref-palette-primary95: #ffefcd;
  --md-ref-palette-primary96: #fff2d9;
  --md-ref-palette-primary98: #fff8f1;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #140d00;
  --md-ref-palette-secondary5: #171000;
  --md-ref-palette-secondary6: #1a1200;
  --md-ref-palette-secondary10: #231b04;
  --md-ref-palette-secondary12: #271f07;
  --md-ref-palette-secondary17: #322910;
  --md-ref-palette-secondary20: #393015;
  --md-ref-palette-secondary22: #3d3419;
  --md-ref-palette-secondary24: #42381d;
  --md-ref-palette-secondary25: #443b1f;
  --md-ref-palette-secondary30: #50462a;
  --md-ref-palette-secondary35: #5c5134;
  --md-ref-palette-secondary40: #695d3f;
  --md-ref-palette-secondary50: #827656;
  --md-ref-palette-secondary60: #9d906e;
  --md-ref-palette-secondary70: #b8aa87;
  --md-ref-palette-secondary80: #d5c5a1;
  --md-ref-palette-secondary87: #e9d9b3;
  --md-ref-palette-secondary90: #f2e1bb;
  --md-ref-palette-secondary92: #f7e7c0;
  --md-ref-palette-secondary94: #fdecc6;
  --md-ref-palette-secondary95: #ffefcd;
  --md-ref-palette-secondary96: #fff2d9;
  --md-ref-palette-secondary98: #fff8f1;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #001204;
  --md-ref-palette-tertiary5: #001505;
  --md-ref-palette-tertiary6: #001806;
  --md-ref-palette-tertiary10: #03210c;
  --md-ref-palette-tertiary12: #07250f;
  --md-ref-palette-tertiary17: #123019;
  --md-ref-palette-tertiary20: #19361f;
  --md-ref-palette-tertiary22: #1d3b23;
  --md-ref-palette-tertiary24: #224027;
  --md-ref-palette-tertiary25: #244229;
  --md-ref-palette-tertiary30: #2f4d34;
  --md-ref-palette-tertiary35: #3b593f;
  --md-ref-palette-tertiary40: #47664a;
  --md-ref-palette-tertiary50: #5f7f62;
  --md-ref-palette-tertiary60: #78997a;
  --md-ref-palette-tertiary70: #92b494;
  --md-ref-palette-tertiary80: #adcfae;
  --md-ref-palette-tertiary87: #c0e3c1;
  --md-ref-palette-tertiary90: #c8ecc9;
  --md-ref-palette-tertiary92: #cef1ce;
  --md-ref-palette-tertiary94: #d3f7d4;
  --md-ref-palette-tertiary95: #d6fad7;
  --md-ref-palette-tertiary96: #d9fdd9;
  --md-ref-palette-tertiary98: #eaffe8;
  --md-ref-palette-tertiary99: #f6fff2;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #100e09;
  --md-ref-palette-neutral5: #13110c;
  --md-ref-palette-neutral6: #15130e;
  --md-ref-palette-neutral10: #1e1b16;
  --md-ref-palette-neutral12: #221f1a;
  --md-ref-palette-neutral17: #2c2a24;
  --md-ref-palette-neutral20: #33302a;
  --md-ref-palette-neutral22: #37342e;
  --md-ref-palette-neutral24: #3c3933;
  --md-ref-palette-neutral25: #3e3b35;
  --md-ref-palette-neutral30: #4a4640;
  --md-ref-palette-neutral35: #56524b;
  --md-ref-palette-neutral40: #625e57;
  --md-ref-palette-neutral50: #7b766f;
  --md-ref-palette-neutral60: #959088;
  --md-ref-palette-neutral70: #b0aaa2;
  --md-ref-palette-neutral80: #ccc6bd;
  --md-ref-palette-neutral87: #e0d9d0;
  --md-ref-palette-neutral90: #e8e2d9;
  --md-ref-palette-neutral92: #eee7de;
  --md-ref-palette-neutral94: #f4ede4;
  --md-ref-palette-neutral95: #f7f0e7;
  --md-ref-palette-neutral96: #faf3e9;
  --md-ref-palette-neutral98: #fff8f1;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #120e05;
  --md-ref-palette-neutral-variant5: #141107;
  --md-ref-palette-neutral-variant6: #171308;
  --md-ref-palette-neutral-variant10: #1f1b10;
  --md-ref-palette-neutral-variant12: #241f14;
  --md-ref-palette-neutral-variant17: #2e2a1e;
  --md-ref-palette-neutral-variant20: #353024;
  --md-ref-palette-neutral-variant22: #393428;
  --md-ref-palette-neutral-variant24: #3e392c;
  --md-ref-palette-neutral-variant25: #403b2e;
  --md-ref-palette-neutral-variant30: #4c4639;
  --md-ref-palette-neutral-variant35: #585244;
  --md-ref-palette-neutral-variant40: #645e4f;
  --md-ref-palette-neutral-variant50: #7e7667;
  --md-ref-palette-neutral-variant60: #989080;
  --md-ref-palette-neutral-variant70: #b3aa99;
  --md-ref-palette-neutral-variant80: #cfc6b4;
  --md-ref-palette-neutral-variant87: #e3d9c7;
  --md-ref-palette-neutral-variant90: #ebe1cf;
  --md-ref-palette-neutral-variant92: #f1e7d5;
  --md-ref-palette-neutral-variant94: #f7edda;
  --md-ref-palette-neutral-variant95: #faf0dd;
  --md-ref-palette-neutral-variant96: #fdf2e0;
  --md-ref-palette-neutral-variant98: #fff8f1;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #745b00;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #ffe08a;
  --md-sys-color-on-primary-container-light: #241a00;
  --md-sys-color-primary-fixed-light: #ffe08a;
  --md-sys-color-on-primary-fixed-light: #241a00;
  --md-sys-color-primary-fixed-dim-light: #f1c100;
  --md-sys-color-on-primary-fixed-variant-light: #574400;
  --md-sys-color-secondary-light: #695d3f;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #f2e1bb;
  --md-sys-color-on-secondary-container-light: #231b04;
  --md-sys-color-secondary-fixed-light: #f2e1bb;
  --md-sys-color-on-secondary-fixed-light: #231b04;
  --md-sys-color-secondary-fixed-dim-light: #d5c5a1;
  --md-sys-color-on-secondary-fixed-variant-light: #50462a;
  --md-sys-color-tertiary-light: #47664a;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #c8ecc9;
  --md-sys-color-on-tertiary-container-light: #03210c;
  --md-sys-color-tertiary-fixed-light: #c8ecc9;
  --md-sys-color-on-tertiary-fixed-light: #03210c;
  --md-sys-color-tertiary-fixed-dim-light: #adcfae;
  --md-sys-color-on-tertiary-fixed-variant-light: #2f4d34;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1e1b16;
  --md-sys-color-outline-light: #7e7667;
  --md-sys-color-inverse-on-surface-light: #f7f0e7;
  --md-sys-color-inverse-surface-light: #33302a;
  --md-sys-color-inverse-primary-light: #f1c100;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #745b00;
  --md-sys-color-outline-variant-light: #cfc6b4;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #fff8f1;
  --md-sys-color-on-surface-light: #1e1b16;
  --md-sys-color-surface-variant-light: #ebe1cf;
  --md-sys-color-on-surface-variant-light: #4c4639;
  --md-sys-color-surface-container-highest-light: #e8e2d9;
  --md-sys-color-surface-container-high-light: #eee7de;
  --md-sys-color-surface-container-light: #f4ede4;
  --md-sys-color-surface-container-low-light: #faf3e9;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #e0d9d0;
  --md-sys-color-surface-bright-light: #fff8f1;
  /* dark */
  --md-sys-color-primary-dark: #f1c100;
  --md-sys-color-on-primary-dark: #3d2f00;
  --md-sys-color-primary-container-dark: #574400;
  --md-sys-color-on-primary-container-dark: #ffe08a;
  --md-sys-color-primary-fixed-dark: #ffe08a;
  --md-sys-color-on-primary-fixed-dark: #241a00;
  --md-sys-color-primary-fixed-dim-dark: #f1c100;
  --md-sys-color-on-primary-fixed-variant-dark: #574400;
  --md-sys-color-secondary-dark: #d5c5a1;
  --md-sys-color-on-secondary-dark: #393015;
  --md-sys-color-secondary-container-dark: #50462a;
  --md-sys-color-on-secondary-container-dark: #f2e1bb;
  --md-sys-color-secondary-fixed-dark: #f2e1bb;
  --md-sys-color-on-secondary-fixed-dark: #231b04;
  --md-sys-color-secondary-fixed-dim-dark: #d5c5a1;
  --md-sys-color-on-secondary-fixed-variant-dark: #50462a;
  --md-sys-color-tertiary-dark: #adcfae;
  --md-sys-color-on-tertiary-dark: #19361f;
  --md-sys-color-tertiary-container-dark: #2f4d34;
  --md-sys-color-on-tertiary-container-dark: #c8ecc9;
  --md-sys-color-tertiary-fixed-dark: #c8ecc9;
  --md-sys-color-on-tertiary-fixed-dark: #03210c;
  --md-sys-color-tertiary-fixed-dim-dark: #adcfae;
  --md-sys-color-on-tertiary-fixed-variant-dark: #2f4d34;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1e1b16;
  --md-sys-color-on-background-dark: #e8e2d9;
  --md-sys-color-outline-dark: #989080;
  --md-sys-color-inverse-on-surface-dark: #1e1b16;
  --md-sys-color-inverse-surface-dark: #e8e2d9;
  --md-sys-color-inverse-primary-dark: #745b00;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #f1c100;
  --md-sys-color-outline-variant-dark: #4c4639;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #15130e;
  --md-sys-color-on-surface-dark: #ccc6bd;
  --md-sys-color-surface-variant-dark: #4c4639;
  --md-sys-color-on-surface-variant-dark: #cfc6b4;
  --md-sys-color-surface-container-highest-dark: #37342e;
  --md-sys-color-surface-container-high-dark: #2c2a24;
  --md-sys-color-surface-container-dark: #221f1a;
  --md-sys-color-surface-container-low-dark: #1e1b16;
  --md-sys-color-surface-container-lowest-dark: #100e09;
  --md-sys-color-surface-dim-dark: #15130e;
  --md-sys-color-surface-bright-dark: #3c3933;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
