.contact-container {
	background-color: var(--quaternary-90);
	border-radius: 35px;
	margin-top: 10px;
	padding: 30px 40px 30px 40px;
	width: fit-content;
}

.contact-text {
	font-family: 'Lexend Deca', sans-serif;
	font-size: var(--font-size-s);
	text-align: justify;
}