.info-container {
	background-color: var(--md-sys-color-primary-container);
	border-radius: 35px;
	margin-top: 10px;
	padding: 30px 40px;
}

.informations {
	font-family: 'Lexend Deca', sans-serif;
	font-size: var(--font-size-s);
	text-align: justify;
}

.info-content .title-page-container {
	background-image: url('https://images.unsplash.com/photo-1505664194779-8beaceb93744?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
	background-position: center;
}

.logo-container .material-symbols-rounded {
	color: var(--md-sys-color-on-background);
	font-size: 160px;
}

/* GALLERIE PAGE INFORMATIONS */

.info-gallery-element {
	display: flex;
	gap: 10px;
	min-height: 180px;
}

.info-gallery-container {
	margin-bottom: var(--l-margin);
}

.gallery-description-container {
	background-color: var(--md-sys-color-surface-variant);
	border-radius: 35px;
	padding: 30px 40px;
	width: fit-content;
}

.gallery-description-text {
	color: var(--md-sys-color-on-background);
	font-family: 'Lexend Deca', sans-serif;
	font-size: 1rem;
	text-align: justify;
}

.info-gallery-image {
	background-size: cover;
	border-radius: 500px;
	height: inherit;
	width: 300px;
}