@media (max-width: 1200px) {
	.gallery-elements-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 1100px) {
	.title-text {
		font-size: var(--font-size-l);
	}

	.subtitle {
		font-size: var(--font-size-s);
	}

	.title,
	.logo {
		height: 120px;
	}

	.title-elements {
		align-items: center;
		height: 300px;
	}
}

@media (max-width: 900px) {
	.nav-bar {
		display: none;
	}

	.image-icon {
		margin-bottom: 0;
		width: 100%;
	}

	.logo-lycee {
		height: 90%;
		margin-bottom: 0;
		width: 90%;
	}

	.logo-lycee-container {
		height: fit-content;
		width: fit-content;
	}

	.page-content {
		padding: 60px 12px 12px;
		width: calc(100% - 2 * var(--s-margin));
	}

	.nav-bar-mobile,
	.nav-bar-mobile-elements {
		align-items: center;
		display: flex;
	}

	.nav-bar-mobile {
		position: fixed;
	}

	.nav-bar-mobile-panel.open {
		display: grid;
		opacity: 1;
	}

	.info-gallery-element {
		flex-direction: column;
	}

	.info-gallery-image {
		height: 250px;
		width: 100%;
	}
}

@media (max-width: 720px) {
	.title-page-container {
		height: 200px;
	}

	.title-elements {
		align-items: center;
		height: 200px;
	}

	.logo-container {
		margin: 0;
	}

	.logo {
		display: none;
	}

	.gallery-elements-container {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 480px) {
	.page-content {
		margin-top: 0;
		padding: 60px 0 0;
		width: 100%;
	}

	.title-elements {
		align-items: center;
		height: fit-content;
	}

	.title-page-container {
		border-radius: 0;
		min-height: 10rem;
	}

	.title {
		height: fit-content;
		padding: 8px 20px 10px 25px;
	}

	.title-text {
		font-size: 2.8rem;
		line-height: 1;
		margin: 0;
	}

	.subtitle {
		font-size: 0.8rem;
	}

	.page-content {
		padding-top: 72px;
	}

	.gallery-elements-container {
		grid-template-columns: 1fr;
	}

	.info-container,
	.gallery-elements-container,
	.info-gallery-container,
	.contact-container {
		margin: var(--s-margin);
	}
}
