.nav-bar {
    display: flex;
    position: fixed;
    min-width: 90px;
    height: 100%;
    overflow: hidden;
    background: var(--md-ref-palette-neutral-95);
    align-items: center;
    flex-direction: column;
}

.nav-content {
    display: grid;
    width: 90px;
    margin-top: 20px;
    margin-bottom: auto;
}

.label {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    text-align: center;
    user-select: none;
}

.icon-container {
    margin-bottom: 20px;
}

.icon {
    display: flex;
    width: 56px;
    height: 32px;
    margin: 0 auto 5px;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
}

/* MOBILE NAVBAR */

.nav-bar-mobile {
    display: none;
    width: 100%;
    height: 50px;
    padding: 5px;
    background-color: var(--transparent-white);
    backdrop-filter: blur(10px);
}

.hamburger-menu {
    width: 50px;
    height: 50px;
    margin-left: var(--s-margin);
    border-radius: 50%;
}

.header {
    height: 50px;
    margin-left: var(--s-margin);
    padding-right: calc(var(--m-margin) - 8px);
    border-radius: 100vw;
}

.header,
.hamburger-menu {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.header-logo {
    height: 30px;
    margin-left: var(--s-margin);
}

.header-text {
    margin-left: var(--s-margin);
    font-family: "Lexend Deca", serif;
    font-size: var(--font-size-s);
    color: var(--black);
}

    /* NAVBAR MOBILE ICONS */

.mobile-icon-container {
    display: flex;
    height: 50px;
    margin: var(--s-margin) var(--m-margin) 0 var(--m-margin);
    cursor: pointer;
    user-select: none;
    align-items: center;
    border-radius: 100px;
}

.mobile-label {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: var(--md-sys-color-on-primary-20);
    user-select: none;
}

.mobile-icon-container .material-symbols-rounded {
    margin-right: 16px;
    margin-left: 16px;
    font-size: 30px;
    color: var(--md-sys-color-on-primary-20);
}

.mobile-nav-panel-footer {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.separator {
    width: 2px;
    height: 75%;
    margin: auto;
    background-color: var(--md-ref-palette-neutral-80);
    border-radius: 50px;
}

    /* NAVBAR MOBILE PANEL */

.nav-bar-mobile-panel {
    display: none;
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: var(--md-ref-palette-neutral-95);
    opacity: 0;
    grid-auto-rows: 1fr auto;
    border-radius: 0 30px 30px 0;
    animation-name: left-to-right;
    animation-duration: 0.3s;
}

.nav-bar-mobile-panel.hiding {
    display: grid;
    animation-name: right-to-left;
    animation-duration: 0.3s;
}

.mobile-close-nav-icon {
    display: flex;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: calc(var(--s-margin) + 5px);
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.nav-bar-mobile-contents {
    display: grid;
    height: fit-content;
}

.nav-bar-mobile.hiding {
    animation-name: bottom-to-top;
    animation-duration: 0.3s;
}

.nav-bar-mobile.hidden {
    display: none;
}

.nav-bar-mobile.visible {
    animation-name: top-to-bottom;
    animation-duration: 0.3s;
}