@import "variables.css";
@import "animations.css";
@import "fonts.css";
@import "navBarStyle.css";
@import "pageContentStyle.css";
@import "infosPageStyle.css";
@import "contactPageStyle.css";

* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

a:link, .mobile-label:link {
	text-decoration: none;
}

body {
	transition: opacity 200ms ease-in;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

img {
	user-select: none;
}

.super-container {
	display: flex;
	height: 100vh;
	min-height: 100%;
	flex-direction: column;
}

/* PARAMÈTRES PAR DÉFAUT MATERIAL SYMBOLS */

.material-symbols-rounded {
	line-height: 1.2 !important;
	color: var(--black);
	user-select: none;
}

/* HOVER SEULEMENT POUR ORDINATEURS */

@media(pointer: fine) {
	.image-icon:hover {
		animation: bird-rotation 1s infinite linear;
	}

	.logo-lycee:hover {
		filter: grayscale(0%);
	}

	.hamburger-menu:hover,
	.mobile-close-nav-icon:hover,
	.header:hover {
		background-color: var(--transparent-grey);
	}
}

/* IMAGE BARRE NAVIGATION */

.image-icon {
	width: 56px;
	margin-bottom: 20px;
	cursor: pointer !important;
}

/* LOGO LYCÉE */

.logo-lycee {
	width: 56px;
	margin-bottom: 20px;
	cursor: pointer;
	filter: grayscale(100%);
	transition: filter 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

/* TITLE PAGE */

.title-page-container {
	display: flex;
	background-image: url("https://pictshare.net/900/1600/srn4t5.jpg");
	justify-content: center;
	background-size: cover;
	border-radius: 35px;
}

.title-elements {
	display: flex;
	height: 500px;
	align-items: center;
}

.title {
	display: grid;
	grid-auto-rows: min-content;
	align-content: center;
	height: 160px;
	background-color: var(--md-sys-color-tertiary);
	border-radius: 100vh;
}

.title-text {
	margin: 0 50px 0 65px;
	font-family: "Mofista", sans-serif;
	font-size: var(--font-size-xl);
	line-height: 1;
	text-align: center;
	color: var(--white);
}

.subtitle {
	font-family: 'Lexend Deca', sans-serif;
	font-size: var(--font-size-m);
	text-align: center;
	color: white;
	overflow-wrap: normal;
}

/* LOGO */

.logo-container {
	display: flex;
	margin-right: 20px;
}

.logo {
	height: 160px;
}

/* CONTENTS */

.gallery-container {
	margin-top: var(--l-margin);
	margin-bottom: var(--l-margin);
}

.gallery-label {
	width: 90%;
	margin: var(--m-margin) auto var(--m-margin);
	font-family: "Mofista", serif;
	font-size: 3rem;
	color: var(--md-sys-color-on-surface);
}

.gallery-elements-container {
	display: grid;
	--min: 300px;
	grid-auto-flow: row;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(var(--min), auto);
	gap: 10px;
}

.photo {
	background-position: center;
	border-radius: 35px;
	background-size: cover;
}

@media (max-width: 1200px) {
	.gallery-elements-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* ICONS */

.icon-container > a,
.nav-bar-mobile-contents > a {
	cursor: pointer;
	transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

@media(pointer: fine) {
	.icon-container > a:hover:not(.selected),
	.nav-bar-mobile-contents > a:hover:not(.selected) {
	    background: var(--md-ref-palette-neutral-90);
	}
}

.icon-container > a:hover:not(.selected) .material-symbols-rounded,
.nav-bar-mobile-contents > a:hover:not(.selected) .material-symbols-rounded {
    font-variation-settings:
       'wght' 800,
       'GRAD' 0,
       'opsz' 48;
}

.icon-container > a.selected,
.nav-bar-mobile-contents > a.selected {
	background: var(--md-sys-color-primary-80);
}

.icon-container > a.selected .material-symbols-rounded,
.nav-bar-mobile-contents > a.selected .material-symbols-rounded {
	color: var(--md-sys-color-on-primary-20);
	font-variation-settings:
			'FILL' 1,
			'wght' 400,
			'GRAD' 0,
			'opsz' 48;
}

/* MEDIA QUERIES */

@media (max-width: 1100px) {
	.title-text {
		font-size: var(--font-size-l);
	}

	.subtitle {
		font-size: var(--font-size-s);
	}

	.title,
	.logo {
		height: 120px;
	}

	.title-elements {
		height: 300px;
		align-items: center;
	}
}

@media (max-width: 900px) {
	.nav-bar {
		display: none;
	}

	.image-icon {
		width: 100%;
		height: 100%;
		margin-bottom: 0;
	}

	.logo-lycee {
		width: 90%;
		height: 90%;
		margin-bottom: 0;
	}

	.logo-lycee-container {
		width: fit-content;
		height: fit-content;
	}

	.page-content {
		width: calc(100% - 2 * var(--s-margin));
		padding: 60px 12px 12px;
	}

	.nav-bar-mobile,
	.nav-bar-mobile-elements {
		display: flex;
		align-items: center;
	}

	.nav-bar-mobile {
		position: fixed;
	}

	.nav-bar-mobile-panel.open {
		display: grid;
		opacity: 1;
	}

	.info-gallery-element {
		flex-direction: column;
	}

	.info-gallery-image {
		width: 100%;
		height: 250px;
	}
}

@media (max-width: 720px) {
	.nav-bar {
		display: none;
	}

	.nav-bar-mobile {
		display: flex;
		position: fixed;
	}

	.title-page-container {
		height: 200px;
	}

	.title-elements {
		height: 200px;
		align-items: center;
	}

	.logo-container {
		margin: 0;
	}

	.logo {
		display: none;
	}

	.gallery-elements-container {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
	.nav-bar {
		display: none;
	}

	.nav-bar-mobile {
		display: flex;
		position: fixed;
	}

	.page-content {
		width: 100%;
		margin-top: 0;
		padding: 60px 0 0;
	}

	.title-elements {
		height: fit-content;
		align-items: center;
	}

	.title-page-container {
		min-height: 10rem;
	}

	.title {
		height: fit-content;
		padding: 8px 20px 10px 25px;
	}

	.title-text {
		margin: 0;
		font-size: 2.8rem;
		line-height: 1;
	}

	.subtitle {
		font-size: 0.8rem;
	}

	.logo-container {
		margin: 0;
	}

	.logo {
		display: none;
	}

	.page-content {
		padding-top: 72px;
	}

	.gallery-elements-container {
		grid-template-columns: 1fr;
	}

	.info-container,
	.gallery-elements-container,
	.info-gallery-container,
	.contact-container {
		margin: var(--s-margin);
	}
}
